.formEditor {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  width: 60%;
  padding: 15px;
  border: 1px solid black;
}

.formEditor label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  /* margin: 0 auto; */
}

.inputArea {
  margin: 15px 0;
}
.contactButton {
  margin-top: 15px;
}
